@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
*{
    text-decoration: none;
    font-family: Dosis, sans-serif;
}
.menu{
    background-color: rgb(238, 238, 238);
    width: 200px;
    height: 40vh;
}
.menu-links{
    font-size: 15pt;
    margin: 15px;
    padding: 1px;
    list-style: none;
}
.columns{
    display: flex;
    columns: 2;
}
.side-menu{
    font-family: Dosis, sans-serif;
    background-color:  #f5f5f5;
    position: fixed;
    left: 0;
    margin-top: 70px;
    width: 160px;
    height: 100%;
}
.side-menu h4{
    font-size: 15pt;
    text-align: center;
    line-height: 20px;
    user-select: none;
}
.slide-menu ul a{
    display: block;
    height: 100%;
    width: 100%;
    color: #131313;
}
.slide-menu li a{
    margin-top: 40px;
    cursor: pointer;
}
ul li:hover a{
    padding-left: 10px;
}
.content-course{
    font-size: 16pt;
    padding: 12%;
    margin-top: -100px;
    margin-left: -1%;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.content-course h1{
    font-size: 30pt;
    margin-bottom: 40px;
    margin-left: 0.1%;

}
.content-course h2{
    margin-bottom: 30px;
}
.content-course pre {
    width: 600px;
}

